<%= form_with model: @token, url: settings_tokens_path do |f| %>
  <%= render partial: "shared/form_errors", locals: { object: f.object } %>

  <div class="w-full flex gap-4 items-center">
    <%= f.label :name, "Name" %>
    <%= f.text_field :name, class: "rounded", autofocus: true, placeholder: "Token Name" %>  
    <%= f.submit "Submit", class: "px-3 py-2 bg-gray-100 rounded cursor-pointer" %>
  </div>
<% end %>
